<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/global.css">
    <link rel="stylesheet" href="CSS/games.css">
    <title>Knihovna</title>
</head>
<body>
    <header>
        <%- include('Layouts/header') %>
    </header>

    <div class="container">
        <h1>Profil</h1>
        <div>
            <p>Peněženka: <%= uzivatel.Zustatek %></p>
            <form action="/addCash" method="POST">
                <input type="number" placeholder="Kolik dáš do peněženky?" name="amount">
                <input type="submit">
            </form>
        </div>
        <h1>Library</h1>
        <div class="grid">
            <% games.forEach(game => { %>
                <div class="grid-game">
                    <a href="/detail/<%= game.HraID %>"><%= game.Hra.Jmeno %></a>
                    <% if (game.DatumVyprchaniPujcky) { %>
                        <span class="expiration-date">Expires: <%= game.DatumVyprchaniPujcky.toLocaleDateString() %></span>
                    <% } %>
                </div>
            <% }); %>
        </div>
    </div>
    <footer>
        <%- include('Layouts/footer')%>
    </footer>
</body>
</html>